//Add Option Error
.add-option-error {
  color: $off-white;
  font-style: italic;
  padding:0 $m-size;
  margin-top: $m-size;
}
//Add Option
.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid $darker-blue;
  border-radius: $s-border-radius;
  color: $off-white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}

//@media (max-width: 45rem) {

//this means apply these styles up until 45 rem, so until the max-width exceeds 45rem, at which point we switch to normal
//also worth noting that this applies this to everything, not just things related to this _add-option.scss file
//we just put it here because right now the change will be related to _add-option
@media (max-width: $mobile-breakpoint) {
  .add-option {
    flex-direction: column;
  }
  .add-option__input {
    margin: 0 0 $s-size;
  }
}
